<div class="apparel-body">
  <div class="logo-div"><img src="/assets/Logo-main.png" alt="My Logo" class="logo">
  </div>
<div class ="title"><h1>Welcome to Closet Crashers</h1></div>

<div>
  <h2>My listings</h2>
  <% if @apparel_listings.any? %>
    <% @apparel_listings.each do |listing| %>
      <h3><% listing.title %></h3>
    <% end %>
  <% else %>
    <p>Nothing to show!</p>
  <% end %>
</div>
<div>
  <h2>Bookings for my listings</h2>
  <% if @apparel_bookings.any? %>
    <% @apparel_bookings.each do |booking| %>
      <h3><% booking.title %></h3>
      <%# <% if booking.pending? %>
        <%# <%= link_to "Approve", approve_booking_path(booking), method: :patch, class: "btn btn-success" %>
      <%# <% end %>
    <% end %>
  <% else %>
    <p>Nothing to show!</p>
  <% end %>
</div>

<div>
  <h2>My bookings</h2>
  <% if @booking_requests.any? %>
    <% @booking_requests.each do |booking| %>
      <h3><% booking.title %></h3>
    <% end %>
  <% else %>
    <p>Nothing to show!</p>
  <% end %>
</div>
