<div class="apparel-body">
  <div class="logo-div"><img src="/assets/Logo-main.png" alt="My Logo" class="logo">
  </div>
<div class ="title"><h1>Welcome to Closet Crashers</h1></div>

<%= render "form", apparel: @apparel %>

<br>

<div>
  <%= link_to "Back to All Apparel", apparels_path %>
</div>
</div>
