<div class="apparel-body">

<div class ="title"><h1>Please Fill Your Form</h1></div>
<div class ="form-rent">
<%= render "form", apparel: @apparel %>

<br>
<div>
  <%= link_to "Back to All Apparel", apparels_path %>
</div>
</div>

</div>
