.form-inputs input {
  display: flex;
  width: 550px;
  min-width: 320px;
  align-items: center;
  gap: 10px;
  padding: 10px;
  position: relative;
  background-color: #F3F3F3;
  border-radius: 6px;
  border: 1px solid;
  border-color: #A8A8A9;
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.new_user{
  justify-self: center;
  width: 550px;
  min-width: 320px;

}

.logo-div {

  justify-self: center;
}
