.form-inputs inputs {
  display: flex;
  width: flex;
  // min-width: 320px;
  align-items: center;
  gap: 10px;
  padding: 10px;
  position: relative;
  background-color: #f9f8f8;
  border-radius: 6px;
  border: 1px solid;
  border-color: #A8A8A9;
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.min-width-320 {
  min-width: 320px;
}

.new_user{
  justify-self: center;
  width: flex;

  border: 0.5px solid #A8A8A9; /* Add a solid border */
  border-radius: 5px; /* Optional: Rounded corners */
  padding: 20px; /* Add space inside the border */
  background: rgb(237, 237, 237); /* Ensure background color */

}


.logo-div {
  justify-self: center;
}



#form-wrapper {
  width: flex;
}

.logo {
  max-width: 150px;  /* Adjust size */
  height: auto;
  animation: fadeInDown 1s ease-in-out;
}

.welcome-section {

  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px;
}

/* Targeting checkbox size */
.custom-checkbox {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.form-container {
  max-width: 400px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 15px;
}

.checkbox-container {
  display: flex;
  align-items: center;
}


